@import 'import';
.header {
  display: flex;
  align-items: center;
}
.name {
  font-size: 1rem;
  font-weight: 600;
}
.role {
  color: $c-grey;
  font-size: 0.7rem;
  margin-top: 0.2rem;
}
.progress {
  padding: 0 0.8rem 0.8rem;
  display: flex;
  font-size: 1.1rem;
  > div {
    flex: 1;
    + div {
      margin-left: 0.8rem;
    }
  }
}
.desc {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  margin: 0.6rem 0 1rem;
}
.content {
  width: 50%;
  display: flex;
  margin: 0.2rem 0;
  @include media($m-extra) {
    width: 25%;
  }
}
.title {
  color: $c-yellow;
  margin-right: 0.3rem;
}
.chartlist {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.chart {
  flex: 1;
  + .chart {
    margin-left: 0.8rem;
  }
}
