@import 'import';
.chart {
  font-size: 0.7rem;
  text-overflow: ellipsis;
  color: $c-grey;
  text-align: center;
  overflow: hidden;
  background: rgba(#000, 0.2);
  background: $c-bg-dark;
  box-shadow: 0 1px 0 $c-bg-light, 0 -1px 0 #000;
  border-radius: 4px;
}
