@import 'import';
:global(.react-contextmenu-wrapper) {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.menu {
  z-index: 50;
  border-top: 1px solid $c-bg-light;
  border-bottom: 1px solid $c-bg-dark;
  background: #282828;
  border-radius: 4px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.6), 0 2px 3px rgba(0, 0, 0, 0.6);
  min-width: 10rem;
}
.title {
  padding: 0.4rem 0.6rem;
  font-size: 0.8rem;
}
.item {
  padding: 0.2rem;
  > div {
    display: block;
    margin: 0.2rem 0;
    padding: 0.3rem 0.8rem;
    border-radius: 1rem;
    font-size: 0.9rem;
    line-height: 1;
    color: $c-yellow-light;
    &:hover {
      background: linear-gradient(to right, rgba(#000, 0.4), rgba(#000, 0));
    }
  }
}
.iconTrans,
.icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  padding: 5px;
  .iconInner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
  }
  img {
    height: 2rem;
    width: 2rem;
    border: 2px solid transparent;
  }
}
.iconTrans {
  cursor: pointer;
  .iconInner {
    background: rgba(#000, 0.6);
    box-shadow: 0 0 0.2rem 0.2rem rgba(#000, 0.6);
  }
}
.icon {
  cursor: pointer;
  background: $c-border;
  box-shadow: 0 1px 1px 0 $c-border-highlight inset,
    0 0 1px 0 rgba($c-border-highlight, 0.5) inset, 0 0 1px 2px rgba(#000, 0.5),
    0 2px 2px 2px rgba(#000, 0.5);
  .iconInner {
    background: $c-bg;
    box-shadow: 0 0 0 1px $c-bg-light inset, 0 0 0 2px #222,
      0 3px 1px $c-border-highlight, 0 0 2px 1px $c-bg-dark;
  }
}
.fullscreenBtn {
  width: 3.8rem;
  height: 3.8rem;
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition-duration: 0.3s;
  &:hover {
    opacity: 1;
  }
}

.fullscreenBtnInner {
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  background: $c-border;
  box-shadow: 0 2px 2px 0 $c-border-highlight inset,
    0 0 2px 0 rgba($c-border-highlight, 0.5) inset, 0 0 2px 2px rgba(#000, 0.5),
    0 2px 2px 2px rgba(#000, 0.5);
}
