@import 'import';
.item {
  font-size: 0.8rem;
  display: flex;
  margin-bottom: 0.5rem;
}
.time {
  color: $c-yellow;
  width: 80px;
}
.content {
  flex: 1;
}
.line {
  margin-bottom: 0.8rem;
}
.list {
  margin-bottom: 1.6rem;
}
