@import 'import';
.list {
  color: $c-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  position: relative;
  white-space: nowrap;
  margin: -0.4rem -0.4rem 0.4rem -0.4rem;
  padding: 0.4rem 0.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  &.my,
  &:hover {
    background: linear-gradient(
      to right,
      rgba($c-yellow-light, 0.1),
      rgba($c-yellow-light, 0) 80%
    );
  }
}
.left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 49%;
}
.leftWithoutGraph {
  width: 74%;
}
.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 49%;
}
.rightWithoutGraph {
  width: 24%;
}
.header {
  min-width: 0;
  position: relative;
  margin-right: 1rem;
}
.name {
  overflow: hidden;
  width: 100%;
  font-weight: 500;
  text-shadow: 0 1px $c-bg-dark;
  text-overflow: ellipsis;
}
.desc {
  overflow: hidden;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 0.2rem;
  color: $c-yellow;
  text-overflow: ellipsis;
  > span {
    display: inline-block;
    min-width: 3rem;
    + span {
      margin-left: 0.5rem;
    }
  }
}
.chart {
  min-width: 32px;
  width: 50%;
  margin-right: 1rem;
}
.progress {
  min-width: 5rem;
  max-width: 160px;
  flex: 1;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.uiFull {
  .header {
    @include media($m-exsmall) {
      display: none;
    }
  }
  .desc {
    font-size: 0.7rem;
  }
  .chart {
    @include media($m-large) {
      max-width: 2.5rem;
    }
    @include media($m-small) {
      display: none;
    }
  }
}
.uiMini {
  padding: 0.2rem 0.4rem;
  &.fullscreen {
    margin-bottom: -0.4rem !important;
  }
  .left {
    width: 68%;
    @include media($m-middle) {
      width: 60%;
    }
    @include media($m-small) {
      width: 4rem;
    }
    @include media($m-tiny) {
      width: 2rem;
    }
  }
  .right {
    width: 50%;
    @include media($m-middle) {
      width: 30%;
    }
    @include media($m-tiny) {
      width: auto;
      flex: 1;
    }
  }
  .header {
    display: flex;
    align-items: center;
    margin-left: -0.25rem;
    flex: 1;
    @include media($m-tiny) {
      display: none;
    }
  }
  .name {
    margin-right: 0.2rem;
    width: 2.5rem;
  }
  .desc {
    margin: 0;
    width: auto;
    flex: 1;
    > span {
      display: inline-block;
      min-width: 3rem;
      + span {
        margin-left: 0.3rem;
      }
    }
    @include media($m-smiddle) {
      display: none;
    }
  }
  .chart {
    @include media($m-middle) {
      max-width: 2.5rem;
    }
    @include media($m-exsmall) {
      display: none;
    }
  }
  .progress {
    min-width: 3rem;
  }
}
.trans {
  border-radius: 0 !important;
  &.my,
  &:hover {
    background: linear-gradient(
      to right,
      rgba($c-yellow-light, 0),
      rgba($c-yellow-light, 0.1) 5%,
      rgba($c-yellow-light, 0.1) 60%,
      rgba($c-yellow-light, 0)
    ) !important;
  }
}
.fullscreen {
  margin-bottom: -0.4rem !important;
}
