@import 'import';
.view {
  height: 100%;
  background: $c-bg;
}
.bar {
  color: $c-yellow;
}
.content {
  padding: 0.2rem 0.4rem;
}
.list {
  display: flex;
  padding: 0.4rem 0.4rem;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 0.4rem;
  &:hover,
  &.active {
    background: linear-gradient(
      to right,
      rgba($c-yellow-light, 0.1),
      rgba($c-yellow-light, 0) 80%
    );
  }
}
.date {
  color: $c-yellow;
}
.title {
  margin-left: 0.5rem;
  color: $c-white;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: 0 1px $c-bg-dark;
  > span {
    color: $c-grey;
    font-size: 0.7rem;
    font-weight: 400;
  }
}
.history {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $c-grey;
  font-size: 0.8rem;
}
