@import 'import';
.view {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
}
.zone {
  flex: 1;
  > a {
    color: $c-white;
    &:hover {
      color: $c-yellow-light;
    }
  }
  > span {
    color: $c-grey;
    font-size: 0.8rem;
    text-shadow: none;
    @include media($m-small) {
      display: none;
    }
  }
  &.uiMini {
    > a {
      font-size: 0.8rem;
    }
    > span {
      font-size: 0.7rem;
    }
  }
}
