@import 'import';
.tab {
  color: $c-grey;
  font-size: 0.8rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover,
  &.active {
    color: $c-yellow;
    font-weight: 600;
  }
}

.title {
  color: $c-yellow;
  + .title {
    margin-left: 0.6rem;
  }
}

.rightContent {
  display: flex;
  align-items: center;
  a + a {
    margin-left: 0.5rem;
  }
  i:before {
    color: $c-grey;
    font-size: 0.8rem;
  }
  i:hover {
    &:before {
      color: $c-yellow;
    }
  }
}
