::-webkit-scrollbar {
  display: none;
  background: transparent;
  height: 1rem;
  width: 1rem;
}
::-webkit-scrollbar-track {
  display: none;
  background: transparent;
  box-shadow: none;
}
::-webkit-scrollbar-thumb {
  display: none;
  background: transparent;
  box-shadow: none;
}
