@import 'import';

.skill {
  font-size: 0.7rem;
  text-align: right;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  color: $c-yellow;
  margin-bottom: 0.2rem;
}

// number

.show {
  text-align: right;
  font-weight: 600;
  color: #fff;
  font-size: inherit;
  text-shadow: 0 1px $c-bg-dark;
  z-index: 9;
}

.high {
  color: $c-high;
  text-shadow: 0 1px darken($c-high-dark, 20%);
}

.low {
  color: $c-low;
  text-shadow: 0 1px darken($c-low-dark, 20%);
}

// arrow

.up {
  i:before {
    color: lighten($c-red-light, 20%);
    text-shadow: 0 1px darken($c-red, 20%);
  }
}

.down {
  i:before {
    color: $c-green-light;
    text-shadow: 0 1px darken($c-green, 20%);
  }
}

// progerss

.progress {
  margin-top: -0.3rem;
  height: 4px;
  border-radius: 4px;
  width: 100%;
  background: rgba(#fff, 0.2);
  position: relative;
  overflow: hidden;
}

.overActive {
  height: 100%;
  border-radius: 4px;
  background: darken($c-green, 10%);
}

.active {
  height: 100%;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  position: relative;
  &:before {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-radius: 10px;
    animation: ant-progress-active 2.4s cubic-bezier(0.23, 1, 0.32, 1) infinite;
  }
}

@keyframes ant-progress-active {
  0% {
    opacity: 0.1;
    width: 0;
  }
  20% {
    opacity: 0.5;
    width: 0;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}
