@import 'import';
.input {
  margin-bottom: 1rem;
  position: relative;
}
.menu {
  border-top: 1px solid $c-bg-light;
  border-bottom: 1px solid $c-bg-dark;
  background: #282828;
  border-radius: 4px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.6), 0 2px 3px rgba(0, 0, 0, 0.6);
  width: 10rem;
  position: relative;
}

:global {
  .ant-select-selection {
    color: $c-white;
    font-size: 0.8rem;
    text-align: center;
    background: rgba(#fff, 0.07);
    border: none;
    position: relative;
  }

  .ant-select-selection__rendered {
    margin: 0 !important;
    padding: 0 !important;
  }
  .ant-select-selection__placeholder {
    color: $c-grey;
    margin-left: 0.4rem;
  }
  .ant-select-selection__choice__remove {
    opacity: 0.6;
    font-size: 0.8rem !important;
  }
  .ant-select-selection__choice {
    border-radius: 0.4rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.5),
      0 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 0 3px rgba(255, 255, 255, 0.5),
      inset 0 -1px 0 rgba(255, 255, 255, 0.08),
      inset 0 1px 0 rgba(255, 255, 255, 0.4);
    font-weight: 600;
    cursor: pointer;
    background-color: $c-yellow !important;
    background-image: linear-gradient(
      to bottom,
      rgba(#fff, 0.2) 0%,
      rgba(#fff, 0.15) 22%,
      rgba(#fff, 0) 25%,
      rgba(#fff, 0) 100%
    );
  }
  .ant-select-dropdown-menu-item {
    display: block;
    margin: 0.2rem;
    padding: 0.3rem 0.8rem;
    border-radius: 1rem;
    font-size: 0.8rem !important;
    line-height: 1;
    color: $c-yellow;
    background: transparent;
  }
  .ant-select-dropdown-menu-item-selected {
    color: $c-yellow-light !important;
    background: linear-gradient(
      to right,
      rgba($c-yellow, 0.1),
      rgba($c-yellow, 0)
    ) !important;
    &:after {
      color: $c-green !important;
    }
  }
  .ant-select-dropdown-menu-item-active {
    color: $c-yellow-light;
    background: linear-gradient(
      to right,
      rgba(#000, 0.4),
      rgba(#000, 0)
    ) !important;
    &:after {
      color: $c-green-light !important;
    }
  }
}

.multiple {
  :global(.ant-select-selection) {
    padding: 0.4rem;
    text-align: center;
    background: rgba(#fff, 0.07);
    box-shadow: 0 1px 0 rgba(#fff, 0.16), 0 -1px 0 $c-bg-dark;
  }
}
.single {
  max-width: 10rem;
  :global {
    .ant-select-selection {
      background: linear-gradient(
        to bottom,
        $btn-highlight 0,
        $btn-highlight 45%,
        $btn 55%,
        $btn 100%
      );
      width: 100%;
      border-radius: 2rem;
      display: inline-block;
      text-align: center;
      text-shadow: 0 1px rgba(#000, 0.8);
      border-top: 1px solid rgba($c-white, 0.5);
      box-shadow: 0 0 3px 1px #000;
      position: relative;
      font-weight: 600;
    }
    .ant-select-selection-selected-value {
      width: 100%;
    }
    .ant-select-arrow:before {
      color: $c-grey;
      font-size: 0.9rem;
    }
  }
}
