@import 'import';
.icon {
  width: 2.5rem;
  height: 2.5rem;
  min-height: 2.5rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.5),
    0 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 0 3px rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.08),
    inset 0 1px 0 rgba(255, 255, 255, 0.4);
  cursor: pointer;
  background-color: $c-icon;
  background-image: linear-gradient(
    to bottom,
    rgba(#fff, 0.2) 0%,
    rgba(#fff, 0.15) 22%,
    rgba(#fff, 0) 25%,
    rgba(#fff, 0) 100%
  );
  &:active {
    &:after {
      z-index: 2;
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(#000, 0.2);
    }
  }
  > i {
    width: 100%;
    height: 100%;
  }
  > i:before {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    text-shadow: 0 1px 3px rgba(#000, 0.3);
    color: rgba($c-yellow, 0.9);
  }
  + .icon {
    margin-top: 0.5rem;
  }
}
.active {
  border: 2px solid $c-yellow-light;
  box-shadow: 0 0 5px $c-yellow-light, inset 0 0 5px $c-yellow-light,
    0 1px 3px 1px rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.5),
    0 1px 1px 1px rgba(0, 0, 0, 0.3);
  > i:before {
    color: rgba($c-yellow-light, 0.9);
  }
}
