// color
$c-primary: #62e6ac;
$c-font-dark: #323a45;
$c-font-normal: #747c83;
$c-split: rgba(0, 0, 0, 0.05);
$c-white: #f8f8f2;
$c-grey: #666;
$c-red: #f92672;
$c-orange: #fd971f;
$c-yellow: #e6db74;
$c-green: #a6e22e;
$c-blue: #66d9ef;
$c-purple: #ae81ff;
// font
$font-code: Hack, Menlo, Consolas, Courier, monospace !important;
// media-point
$m-large: '<=720px';
$m-middle: '<=580px';
$m-small: '<=420px';
$anim-showup: showup 0.8s forwards ease-out;
