<!DOCTYPE html>
<html id="app" lang="en" class="webp">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
	<!-- seo -->
	<% if (process.env.NODE_ENV === 'development') { %>
	<title>Dev - CanisMinor ActSkin</title>
	<% } else { %>
	<title>FFXIV - CanisMinor ActSkin</title>
	<% } %>
	<meta name="description" content="Final Fantasy XIV - CanisMinor ActSkin">
	<meta name="keywords" content="ff14 ffxiv CanisMinor ACT Final Fantasy XIV CM">
	<!-- qq-share -->
	<meta itemprop="name" content="FFXIV - CanisMinor ActSkin">
	<meta itemprop="description" content="Final Fantasy XIV - CanisMinor ActSkin">
	<meta itemprop="image" content="/favicons/apple-touch-icon.png">
	<!-- ios-config -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default"/>
	<meta name="apple-mobile-web-app-title" content="FFXIV - CanisMinor ActSkin">
	<meta name="application-name" content="FFXIV - CanisMinor ActSkin">
	<!-- favicon -->
	<link rel="manifest" href="/manifest.json">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
	<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#333333">
	<meta name="theme-color" content="#ffffff">
	<% if (process.env.NODE_ENV === 'production') { %>
	<!-- Start Single Page Apps for GitHub Pages -->
	<script type="text/javascript">
		(function(l) {
			if (l.search) {
				var q = {};
				l.search.slice(1).split('&').forEach(function(v) {
					var a = v.split('=');
					q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
				});
				if (q.p !== undefined) {
					window.history.replaceState(null, null,
						l.pathname.slice(0, -1) + (q.p || '') +
						(q.q ? ('?' + q.q) : '') +
						l.hash
					);
				}
			}
		}(window.location))
	</script>
	<!-- End Single Page Apps for GitHub Pages -->
	<% } %>
</head>

<body>
<div id="root"></div>
<!-- script -->
<% if (process.env.NODE_ENV === 'production') { %>
<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112617256-2"></script>
<script>
	window.dataLayer = window.dataLayer || [];

	function gtag() {
		dataLayer.push(arguments);
	}

	gtag('js', new Date());
	gtag('config', 'UA-112617256-2');
</script>
<!-- Baidu Tongji -->
<script async src="https://hm.baidu.com/hm.js?4bd4ebaa032babcb958a74b644bb924b"></script>
<% } %>
</body>

</html>