<!DOCTYPE html>
<html id="app" lang="en" class="webp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
	<title>FFXIV Skin - CanisMinor</title>
	<link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<div id="root"></div>
<!-- script -->
<% if (process.env.NODE_ENV === 'development') { %>
<script type="text/javascript" src="/roadhog.dll.js"></script>
<script type="text/javascript" src="//changyan.sohu.com/upload/changyan.js" ></script>
<% } %>
</body>
</html>